.find-icon {
  display: flex;
  justify-content: space-between;
}
.find-icon__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-icon__icon i {
  margin-bottom: 15px;
}
.recommended-friends {
  margin: 25px 0;
  padding: 25px 0;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 15px;
  color: var(--rgba04);
}
.recommended-friends span {
  margin: 90px 0;
  display: block;
  font-size: 18px;
  text-align: center;
  color: var(--rgba04);
}
